{% extends "index.html" %}

{% block content %}
<h1>This Is a Great Page</h1>
<img alt="image basic" src="https://picsum.photos/200/300"/>
<h5>El nombre de la app es {{ nombre_app }}</h5>

<div class="content">
    <h3>Datos Basicos</h3>
    <ul>
        {% if datas %}
        {% for dato in datas %}
        <li>
            {{dato}}
        </li>
        {% endfor %}
        {% else %}
        <p>
            No hay Elementos que mostrar
        </p>
        {% endif %}
    </ul>
</div>
{% endblock %}
